Flask==1.0.2
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.0.4.zip#md5=3df394d89300db95163f17c843ef49df
pandas
werkzeug
SPARQLWrapper
rdflib==4.2.2
configparser
pyparsing==2.2.0
requests==2.18.4