    <div class="container-fluid ">
        <div class="row secondbox">
          <fieldset class="border border-secondary border-4 bg-light d-flex first-input">
            <legend class="w-auto">About Us</legend>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h2>easyRML facilitates the RML Mapping rule generation. It receives mappings data from the user via a user interface and translate it into a validated turtle file including RML mapping rules, without any syntax checking to be required from the user side.</h2>
                    </div>

                </div>
            </div>
        </fieldset>
        </div>

        <div class="row secondbox">
            <fieldset class="border border-secondary border-4 bg-light d-flex first-input">
              <legend class="w-auto">Contact Us</legend>
              <div class="col-12">
                  <div class="row">
                      <div class="col-12">
                          <h2>easyRML is an ongoing research and development effort by members of the Scientific Data Management Group at TIB, <a href="https://github.com/samiscoding" style="text-decoration:none">Samaneh Jozashoori</a> (<a href="samaneh.jozashoori@tib.eu" style="text-decoration:none">samaneh.jozashoori@tib.eu</a>), <a href="https://github.com/abhi055" style="text-decoration:none">Abhi Akbari</a> (current UI, <a href="abhiakbari023@gmail.com" style="text-decoration:none">abhiakbari023@gmail.com</a>) and <a href="https://github.com/ENiaz" style="text-decoration:none">Emetis Niazmand</a> (UI version1.0, <a href="emetis.niazmand@tib.eu" style="text-decoration:none">emetis.niazmand@tib.eu</a>) under the supervision of <a href="https://github.com/mevs" style="text-decoration:none">Maria-Esther Vidal</a> (<a href="maria.vidal@tib.eu" style="text-decoration:none">maria.vidal@tib.eu</a>).</h2>
                    </div>
  
                  </div>
              </div>
          </fieldset>
          </div>
    </div>