* {
    margin: 0px;
    padding: 0px;   
  }

body{
    background-color: beige;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    
  }

.header {
background-color: #99D19C;
padding-top: 40px;
padding-bottom: 40px;
}

.first-logo img {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.second-logo img {
    max-width: 10%;
    margin-top: -150px;
    margin-right: 150px;
    float: right;
}


.content {
    padding-bottom: 4.5rem;    /* content height */
  }

h3 {
    margin: 0;
    color: gray;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
}


/* Style for index.html */
.container ul {
    list-style: none;
}

.container ul li {
    background-color: #063247;
    width: 250px;
    border: 1px solid white;
    border-radius: 26px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white;
    font-size: 19px;
    position: relative;
}

.container ul li:hover {
background-color: #99D19C;
}

.container ul ul {
    display: none;
} 

.container ul li:hover > ul {
    display: block;
}

.container ul ul ul {
    margin-left: 250px;
    top: 0px;
    position: absolute;
}


h4 {
    margin: 5px;
    color: green;
    font-size: 20px;
    text-align: left;
}


.loopTMColors {
    border-radius: 25px;
    background: #ADE1E5;
    padding: 20px;
}  
.loopPomColors {
    border-radius: 25px;
    background: #CBF3D2;
    padding: 20px;
}  

.loopJoinColors {
    border-radius: 25px;
    background: #e6ffea;
    padding: 20px;
}  

.loopfunctionColors {
    border-radius: 25px;
    background: #CBC0D3;
    padding: 20px;
}  
.looppropertyColors {
    border-radius: 25px;
    background: #E2CFEA;
    padding: 20px;
}
   

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #638475;
    color: white;
    text-align: center;
}
