
legend {
    float: none;
    padding: inherit;
  }
  

.predicatebox{
  background-color: #C4DF7F;
}
.bg-btn-color{
  background-color: #C4DF7F;
}
  
.mt-2{
    margin-top: 20px !important;
  }
  
.mt-3 {
    margin-top: 40px !important;
  }
  
.mb-3{
    margin-bottom: 40px !important;
  }