<div class="container-fluid">
    <div class="row secondbox">
        <fieldset class="border border-secondary border-4 bg-light d-block first-input">
            <legend class="w-auto">TriplesMap</legend>
            <div class="col-12">

                <!--first line-->
                <div class="row">
                    <div class="col-6 ">

                        <div class="row mb-3">
                            <div class="col-5">
                                <input type="text" class="form-control border border-secondary border-2"
                                    placeholder="Name of Triple map" >
                            </div>
                            <div class="col-7"></div>

                        </div>

                        <!--select subject option-->
                        <div class="row">
                            <div class="col-7">
                                <div class="input-group mb-3 ">
                                    <select class="form-select border border-2 border-secondary" 
                                        data-placeholder="select the subject type" [(ngModel)]="selectedSubjectType">
                                        <option value="0" selected disabled>--select the subject type--</option>
                                        <option value="1">Class</option>
                                        <option value="2">Reference to data as URI</option>
                                        <!-- <option value="2">Reference to a FunctionMap</option> -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-5"></div>

                        </div>
                        <!--##############################select subject option################################-->
                    </div>


                    <!--upload source file-->
                    <div class="col-6">
                        <div class="row">
                            <div class="col-7">
                                <div class="input-group mb-3 ">
                                    <select class="form-select border border-2 border-secondary"
                                         data-placeholder="select the subject type"
                                        [(ngModel)]="selectedDataType">
                                        <option value="0" selected>--Select type of the data source--</option>
                                        <option value="1">CSV</option>
                                        <option value="2">RDB</option>
                                        <!-- <option value="2">Reference to a FunctionMap</option> -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-5"></div>
                        </div>


                        <!--#####################csv box ##################################-->
                        <ng-container *ngIf="selectedDataType === '1'">
                            <div class="row">
                                <div class="col-1"></div>
                                    <input class="file-upload-input" type='file' (change)="onCsvUpload($event)" accept=".csv" name="file"
                                        id="uploadsourcefile" />
                                
                                <div class="col-2">
                                    <label for="uploadsourcefile">
                                        <img src="../../../assets/upload-file.jpg"
                                            class="rounded float-start image-upload bg-white" alt="...">
                                    </label>
                                </div>
                                <div class="col-8">
                                    <h4 class="pt-1"> &lt; Upload source here</h4>
                                </div>
                                <div class="col-1"></div>
                            </div>

                            <div class="row">
                                <div class="col-9">
                                    <input type="text" class="form-control border border-secondary border-2"
                                        placeholder="Add the path to data source to be added to the mapping"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Path must be exactly like this '/sources/data.csv'">
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </ng-container>
                        <!--#####################end csv box ##################################-->


                        <!--#####################RDB box ##################################-->
                        <ng-container *ngIf="selectedDataType === '2'">
                            <div class="row">
                                <div class="col-9">
                                    <input type="text" [(ngModel)]="RDBConnection.databasename"
                                        class="form-control border border-secondary border-2"
                                        placeholder="Name of Database" autocomplete="on">
                                    
                                </div>
                                <div class="col-3"></div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-9">
                                    <input type="text" [(ngModel)]="RDBConnection.databaseurl"
                                        class="form-control border border-secondary border-2"
                                        placeholder="JDBC database URL" autocomplete="on">
                                    
                                </div>
                                <div class="col-3"></div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-9">
                                    <input type="text" [(ngModel)]="RDBConnection.databasedriver"
                                        class="form-control border border-secondary border-2"
                                        placeholder="JDBC database driver class name" autocomplete="on">
                                    
                                </div>
                                <div class="col-3"></div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-4">
                                    <input type="text" [(ngModel)]="RDBConnection.databaseusername"
                                        class="form-control border border-secondary border-2"
                                        placeholder="Username to access the database" autocomplete="on">
                                    
                                </div>

                                <div class="col-1"></div>

                                <div class="col-4">
                                    <input type="password" [(ngModel)]="RDBConnection.databasepassword" class="form-control border border-secondary border-2"
                                         placeholder="Password to access the database">
                                </div>

                                <div class="col-3"></div>

                            </div>

                            <div class="row mt-2">
                                <div class="col-4">
                                    <input type="text"  [(ngModel)]="RDBConnection.databasetable"
                                        class="form-control border border-secondary border-2"
                                        placeholder="Name of the table" autocomplete="on">
                                  
                                </div>

                                <div class="col-1"></div>

                                <div class="col-4">
                                    <input type="text" [(ngModel)]="RDBConnection.databasequery"
                                        class="form-control border border-secondary border-2" 
                                        placeholder="SQL query" autocomplete="on">

                                </div>

                                <div class="col-3"></div>

                            </div>

                            <div class="row mt-2">
                                <div class="col-9">
                                    <input type="text" [(ngModel)]="RDBConnection.sqlqueryversion"
                                        class="form-control border border-secondary border-2" 
                                        placeholder="SQL query version" autocomplete="on">
                                </div>

                                <div class="col-3"></div>

                            </div>


                            <div class="row mt-2">
                                <div class="col-4">
                                    <input type="text" [(ngModel)]="RDBConnection.RDB_host"
                                        class="form-control border border-secondary border-2" 
                                        placeholder="RDB_host" autocomplete="on" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="Insert a valid host">
                                    
                                </div>

                                <div class="col-1"></div>

                                <div class="col-4">
                                    <input type="text" [(ngModel)]="RDBConnection.RDB_port"
                                        class="form-control border border-secondary border-2"
                                        placeholder="RDB_port" autocomplete="on" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="Insert a valid port">
                                </div>

                                <div class="col-3"></div>

                            </div>


                            <div class="row mt-2">
                                <div class="col-5"></div>

                                <div class="col-4">
                                    <button
                                        class="btn border border-secondary border-2 add-another-triplesmap float-end"
                                        (click)="sendRDBData()" type="button">Submit RDB data</button>
                                </div>

                                <div class="col-3"></div>

                            </div>

                        </ng-container>
                        <!--#####################end RDB box ##################################-->

                    </div>
                    <!--#############################upload source file end#############################-->
                </div>
                <!--#############################first line end#############################################-->

                <!--row box for first option-->
                <ng-container *ngIf="selectedSubjectType === '1'">
                    <div class="row mt-3">
                        <div class="col-7">
                            <div class="input-group mb-3 ">
                                <select class="form-select border border-2 border-secondary"
                                    data-placeholder="select the corresponding class  (based on Ontology)">
                                    <option value="default" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="you can't find option until you not upload proper ontology file" selected
                                        disabled>--select
                                        the corresponding class (based on Ontology)--</option>
                                    <option *ngFor="let classOption of classOptions">{{classOption}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-5"></div>
                    </div>
                </ng-container>
                <!--##################################row box for first option end###########################################################-->

                <!--row box for second option-->
                <ng-container *ngIf="selectedSubjectType === '2'">
                    <div class="row mt-3">
                        <div class="col-9">
                            <div class="row">
                                <div class="col-7">
                                    <!-- <div class="input-group mb-3 ">
                    <select class="form-select chosen-select border border-2 border-secondary" multiple
                       data-placeholder="select data field">
                      <option value="default" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="you can't find option until you not upload proper csv file" disabled>--select data
                        field
                        --</option>
                    </select>
                  </div> -->
                                    <ng-multiselect-dropdown [placeholder]="'--select data field--'"
                                        [settings]="dropdownSettings" [data]="dropdownList"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                                <div class="col-5"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-9">
                                    <div class="input-group mb-3">
                                        <select class="form-select border border-2 border-secondary"
                                            data-placeholder="select the corresponding class (based on Ontology)">
                                            <option value="default" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="you can't find option until you not upload proper ontology file"
                                                selected disabled>
                                                --select the corresponding class (based on Ontology)--</option>
                                                <option *ngFor="let classOption of classOptions">{{classOption}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!--####################################row box for second option end########################################################-->

                <!--row box for third option-->
                <!-- <div class="row mt-3 default">
            <div class="col-9">
              <div class="input-group mb-3 ">
                <select class="form-select border border-2 border-secondary"
                  data-placeholder="select the FunctionMap from the already declared ones (if you haven't declared the FunctionMap yet, first declared it)">
                  <option value="default" selected>--select the FunctionMap from the already declared ones (if you
                    haven't declared the FunctionMap yet, first declared it)--</option>
                  <option value="1">Reference to data as URI</option>
                  <option value="2">Reference to a FunctionMap</option>
                </select>
              </div>
            </div>
            <div class="col-5"></div>
          </div> -->
                <!--##################################row box for third option end###########################################################-->

                <!--Term type-->
                <div class="row mt-3">
                    <div class="col-2">
                        <div class="input-group mb-3 ">
                            <select class="form-select border border-2 border-secondary"
                                data-placeholder="Term type">
                                <option value="default" selected disabled>Term type</option>
                                <option value="1">rr:IRI</option>
                                <option value="2">rr:BlankNode</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-10"></div>

                </div>
                <!--############################Term type end#######################################################-->

                <!--add another predicate object map button-->

                <!-- <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
              <button class="btn border border-secondary border-2 add-another-predicate" 
                type="button"> + add another predicate object map</button>
            </div>
          </div> -->

                <!--###########################  add another  predicate object map button end#############################################-->

                <!-- predicate object map block-->
                <ng-container *ngFor="let ele of predicateMapComponentArray">
                <app-predicateobjectmap [classOptions]="classOptions" [propertyOptions]="propertyOptions" [dataFieldOptions]="dataFieldOptions" [dataFieldDropDown]="dropdownList"></app-predicateobjectmap>
                </ng-container>
                <!--###########################################################predicate object map block end##########################################-->


                <div class="row">
                    <div class="col-10"></div>

                    <div class="col-1">
                        <button class="btn border border-secondary border-2 plus-btn float-end mt-2" [disabled]="predicateMapComponentArray.length === 1" (click)="predicateMapComponentArray.pop()"
                            data-bs-toggle="tooltip" data-bs-placement="bottom" title="remove predicate object map"
                            >
                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor"
                                class="bi bi-dash" viewBox="0 0 16 16">
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                            </svg>
                        </button>
                    </div>

                    <div class="col-1">
                        <button class="btn border border-secondary border-2 plus-btn float-end mt-2" (click)="predicateMapComponentArray.push(1)"
                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="add another predicate object map">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor"
                                class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                            </svg>
                        </button>
                    </div>
                </div>

            </div>

        </fieldset>
    </div>


</div>
