html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.secondbox {
    margin: 20px;
    margin-top: 0px !important;
  }
  
// legend {
//     float: none;
//     padding: inherit;
//   }
  
.first-input {
  background-color: #f8f9fa;
  padding: 20px;
}

.bg-btn-color{
  // background-color: #C9C197;
}

.default {
    display: none;
}

.file-upper,
.file-down {
  height: 50px;
}
.file-upload-input {
  outline: none;
  opacity: 0;
}
.image-upload-wrap {
  margin-top: 20px;
  position: relative;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}
.image-upload {
  height: 80px;
  width: 80px;
  margin-bottom: 30px;
  margin-top: -30px;
  cursor: pointer;
}
.pt-1 {
  padding-top: 20px !important;
}
.plus-btn {
    background-color: #c7f3c77d;
    box-shadow: 3px 3px 2px 1px #c7f3c77d;
  }
  .thirdbox {
    margin: 20px;
    margin-top: 0px !important;
  }
  
.add-another-triplesmap {
    background-color: #c8cdcf;
    box-shadow: 3px 3px 2px 1px #807878;
  }
  
.mt-2{
    margin-top: 20px !important;
  }
  
  .mt-3 {
    margin-top: 40px !important;
  }
  
  .mb-3{
    margin-bottom: 40px !important;
  }