<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>easyRML</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!--Manual CSS-->
    <link rel="stylesheet" href="../static/css/style.css">

    <!--Manual JavaScript-->
    <script src="../static/js/scripts.js"></script>

    <!-- <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!--read json data using flask and ajax-->
    <script src="../static/js/readJson.js"></script>


    <script>
      
      var form_data = new FormData();
      form_data.append('file', $('#uploadttlfile').prop('files')[0]);
      $(function() {

      e.preventDefault(); 
      $.ajax({ 
        type:'POST', 
        url:'/readOntology',
        data:form_data,
        contentType: false,
        processData: false, 
        success:function() 
        { 
        alert('saved'); 
        } 
    }) 
    }); 
      
      
      </script>



  </head>
  <body>

    <!--navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border border-4 border-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><h1 class="header-title">easyRML</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"><h3 class="header-text">RML Guidline</h3></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><h3 class="header-text">About us</h3></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--form-->
    <!-- <form> -->
    <div>
      <div class="container-fluid firat">
        <div class="row">
          <fieldset class="col-6 border border-secondary border-4 first-input bg-light">
            <legend class="w-auto">File Management</legend>
            <div class="row first-row">
              <div class="col-7">
                <input type="text" class="form-control border border-secondary border-2" placeholder="Insert output mapping file name">
              </div>
              <div class="col-5">
                <input type="text" class="form-control border border-secondary border-2" placeholder="Insert output path">
              </div>
            </div>


            <div class="row second-row">
              <div class="col-10">
                <div class="input-group mb-3 border border-secondary border-2">
                  <select class="form-select" id="inputGroupSelect02">
                     <option selected>Select all prefix from the available suggestion</option>
                     <!-- {% for row in data %}
                       <option value="{{ row }}">{{ row }}</option>
                       {% endfor %}
                      <option value="1">One</option>
                     <option value="2">Two</option>
                     <option value="3">Three</option> -->
                  </select>
                </div>
                
              </div>
              <div class="col-2">  
              </div>
            </div>


            <div class="row">
              <div class="col-1">  
              </div>
              <div class="col-5"> 
                <input type="text" class="form-control border border-secondary border-2" placeholder="Write your own prefix">
              </div>
              <div class="col-5"> 
                <button class="btn border border-secondary border-2 add-more-button">+ add more prefix</button> 
              </div>
              <div class="col-1">  
              </div>

            </div>

          </fieldset>



          
          <div class="col-6">
            <div class="row file-upper"></div>
            <div class="row">
              <div class="col-10 d-flex justify-content-center">
                <fieldset class="container image-upload-wrap border border-4 border-secondary bg-light">
                  <legend class="w-auto">Ontology</legend>
                  
                  <div class="row">
                    <form action="/readOntology" method="POST" enctype= "multipart/form-data" id="formttl">
                      <input class="file-upload-input" type='file' accept=".ttl" name = "file" id="uploadttlfile" onchange="this.form.submit()" hidden/>
                    </form>
                    <div class="col-3">
                      <label for="uploadttlfile">
                        <img src="../static/images/upload-file.jpg" class="rounded float-start image-upload bg-white" alt="...">
                      </label>
                    </div>
                    <div class="col-9">
                      <h4 class="pt-1"> &lt; Upload the Ontology</h4>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="your image" />
                <div class="image-title-wrap">
                  <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                </div>
              </div>
            
            </div>
            <div class="row file-down"></div>
          </div>

        </div>
      </div>
    </div>
    <!-- </form> -->


   
    
    <!--javascript for bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>