<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>easyRML</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<script type="text/javascript" src="../static/js/scripts.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>



<body>
    <div class="header" id="myHeader">
        <header>
            <div class="logo"></div>
            <div class="first-logo">
                <img src="../static/images/SDM-RDFizer1transp2.png" alt="logo1" style="width:300%">
            </div>
            <div class="second-logo">
                <img src="../static/images/SDM-RDFizer1transp1.png" alt="logo2" style="width:20%">
            </div>
            <h3>
                RML Mapping Rule Generator
            </h3>
    </div>
    </header>
    </div>

    <div class="content">

        <!-- Type mapping_file_name -->
        <div id="file_name">
            <label id="selectnamefile">mapping_file_name : </label>
            <input type="text" id="filename" size="20"><br />
            <!--  <button id="getFileName" type="button" onclick="GetFileName()">Get File Name</button> -->
        </div>
        <br>
        <!-- Type the output folder -->
        
        <div id="output_folder" title="Tip: Please start with output/">
          
            <label id="outputFol">output_folder: </label>
            <input type="text" id="output" placeholder="e.g. output/" size="40" required><br />
            <!--  <button id="getOutput" type="button" onclick="GetOutput()">Get Output Folder</button> -->

        </div>

        <br>

        <!-- Select the number of prefixes -->
        <div id="preNumber">
            <p>Default prefixes:</p>
            <p>@PREFIX rr: &lt http://www.w3.org/ns/r2rml#>. </p>
            <p>@PREFIX rml: &lt http://semweb.mmlab.be/ns/rml#> .</p>
            <p>@PREFIX ql: &lt http://semweb.mmlab.be/ns/ql#> .</p>
            <p>@PREFIX rdfs: &lt http://www.w3.org/2000/01/rdf-schema#> .</p>
            <p>@PREFIX rdf: &lt http://www.w3.org/1999/02/22-rdf-syntax-ns#> .</p>
            <p>@PREFIX rev: &lt http://purl.org/stuff/rev#> .</p>
            <p>@PREFIX schema: &lt http://schema.org/> .</p>
            <p>@PREFIX xsd: &lt http://www.w3.org/2001/XMLSchema#> .</p>
            <label id="selectPre">How many more than default prefixes do you consider?</label>
            <input type="text" value="" id="pref" maxlength="1" size="1" onclick="GetNumberPre()"><br />
            <!-- <button id="getnumberPre" type="button" onclick="GetNumberPre()">Get Number of
                Prefixes</button> -->
        </div>

        <br>
        <!-- Type label of prefix -->
        <div id="labelPre">
           
            <div id="pref01" style="display: none">
                <label id="selectlabel1">prefix1 : </label>
                <input type="text" id="labpre1" size="3">
                <label id="selectlabelpre1"></label>
                <input type="url" id="prefix1" size="30"><br />
            </div>
            <div id="pref02" style="display: none">
                <label id="selectlabel2">prefix2 : </label>
                <input type="text" id="labpre2" size="3">
                <label id="selectlabelpre2"></label>
                <input type="text" id="prefix2" size="30"><br />
            </div>
            <div id="pref03" style="display: none">
                <label id="selectlabel3">prefix3 : </label>
                <input type="text" id="labpre3" size="3">
                <label id="selectlabelpre3"></label>
                <input type="text" id="prefix3" size="30"><br />
            </div>
            <div id="pref04" style="display: none">
                <label id="selectlabel4">prefix4 : </label>
                <input type="text" id="labpre4" size="3">
                <label id="selectlabelpre4"></label>
                <input type="text" id="prefix4" size="30"><br />
            </div>
            <div id="pref05" style="display: none">
                <label id="selectlabel5">prefix5 : </label>
                <input type="text" id="labpre5" size="3">
                <label id="selectlabelpre5"></label>
                <input type="text" id="prefix5" size="30"><br />
            </div>
            <div id="pref06" style="display: none">
                <label id="selectlabel6">prefix6 : </label>
                <input type="text" id="labpre6" size="3">
                <label id="selectlabelpre6"></label>
                <input type="text" id="prefix6" size="30"><br />
            </div>
            <div id="pref07" style="display: none">
                <label id="selectlabel7">prefix7 : </label>
                <input type="text" id="labpre7" size="3">
                <label id="selectlabelpre7"></label>
                <input type="text" id="prefix7" size="30"><br />
            </div>
            <div id="pref08" style="display: none">
                <label id="selectlabel8">prefix8 : </label>
                <input type="text" id="labpre8" size="3">
                <label id="selectlabelpre8"></label>
                <input type="text" id="prefix8" size="30"><br />
            </div>
            <div id="pref09" style="display: none">
                <label id="selectlabel9">prefix9 : </label>
                <input type="text" id="labpre9" size="3">
                <label id="selectlabelpre9"></label>
                <input type="text" id="prefix9" size="30"><br />
            </div>
            <div id="pref010" style="display: none">
                <label id="selectlabel10">prefix10 : </label>
                <input type="text" id="labpre10" size="3">
                <label id="selectlabelpre10"></label>
                <input type="text" id="prefix10" size="30"><br />
            </div>
            <div id="pref011" style="display: none">
                <label id="selectlabel11">prefix11 : </label>
                <input type="text" id="labpre11" size="3">
                <label id="selectlabelpre11"></label>
                <input type="text" id="prefix11" size="30"><br />
            </div>
        </div>
        <br>
       
        <br>
        
        <!-- **********************************************Loop for Triple Maps****************************************** -->
        <div id="loopTMNumber">
        	   <label id="loopselectTM">How many TriplesMap do you consider? </label>
            <input type="text" value="" id="loopTM" maxlength="3" size="1" onclick="loopcountNumberTM()">
            <!-- <button type="button" id="loopbuttonTM" onclick="submitValueTM()">Get Values!</button> -->
        <div id="TMList" class="loopTMColors" style="display: none">  
        	<!-- <div id="proList" class="looppropertyColors" style="display: none">   -->

<script type="text/javascript">
// var poms;
var formMainTM = document.getElementById("TMList");
var formMainPro = document.getElementById("proList");
var TM = document.getElementById("loopTM").value;
var resultTM = [];
var formDataTM = "";
  formDataTM += '<form class="formClass">' +
  '<div>' +
  '<label>source:</label>' +
  '<input type="text" class="inputClass" placeholder="e.g. biomarkers.csv" name="sourceTM">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>sourceFormat:</label>' +
  '<input type="text" class="inputClass" placeholder="e.g. CSV" name="sourceFormatTM">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<select id="subjects" class="inputClass" name="selectSubj"><option value="selectSub" selected="selected">-- Select Subject Type --</option><option value="string">string</option><option value="integer">integer</option></select>'+
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>subjectMap:</label>' +
  '<input type="text" class="inputClass" placeholder="e.g. http://project-iasis.eu/Biomarker/{biomarker}" name="subjectMap">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>termType:</label>' +
  '<input type="text" class="inputClass" placeholder="e.g. yes/no" name="termType">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>How many Predicate Object Map do you consider?</label>' +
  '<input type="text" maxlength="3" size="1" class="inputClass" name="numPoms">' +
  // '<button type="button" id="loopbuttonTM" onclick="submitValueTM()">Get Values!</button>' +
  '</div>' +
  '</form>';
 

function loopcountNumberTM() {
    var i;
    var TM = document.getElementById("loopTM").value;
    formMainTM.innerHTML = "";
   if (TM > 0) {
   TMList.style.display = "block";
 }
 for (i = 1; i <= TM; i++) {
  formMainTM.innerHTML += ("==============================================================="+ "<br />");
  formMainTM.innerHTML += ("[TM"+i+"]"+ "<br/>" + "<br/>");
  formMainTM.innerHTML += ("name: TriplesMap"+i+ "<br/>" + "<br/>");
  formMainTM.innerHTML += formDataTM;
 }

}



</script>


</div>
</div>
        <br>

        <div>
          <button type="button" id="loopbuttonTM" onclick="submitValueTM()">Show Predicate Object Map!</button>
        </div>
        
         <br>
          <br>

        <!-- **********************************Loop for Predicate Object Map****************************************** -->
        
       <div id="pomList" class="loopPomColors" style="display: none">  
 
<script type="text/javascript">
var formMainPom = document.getElementById("pomList");
var result = [];
var formDataPom = "";
var i;
  formDataPom += '<form class="formClass">' +
  '<div>' +
  '<label>predicate:</label>' +
  '<input type="text" class="inputClass" placeholder="e.g. rdf:type" name="predicate">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<select id="objects" class="inputClass" name="selectObjType"><option value="selectPara" selected="selected">-- Select Object Type --</option><option value="string">string</option><option value="reference to data">reference to data</option><option value="reference to triplesMap">reference to triplesMap</option><option value="reference to functionMap">reference to functionMap</option></select>'+
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>object:</label>' +
  '<input type="text" class="inputClass" name="object">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>dataType:</label>' +
  '<input type="text" placeholder="yes/no" class="inputClass" name="dataType">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>termType:</label>' +
  '<input type="text" placeholder="yes/no" class="inputClass" name="termTypes">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>joinCondition:</label>' +
  '<input type="text" placeholder="yes/no" class="inputClass" name="joinCondition" onclick="SelectedjoinCondition()">' +
  '</div>' +
  '<br/>' +
  '</form>';

  var formDataJoin = "";
  formDataJoin += '<form class="formClass">' +
  '<div>' +
  '<label>child:</label>' +
  '<input type="text" placeholder="e.g. enst" class="inputClass" name="child">' +
  '<label>parent:</label>' +
  '<input type="text" placeholder="e.g. Transcript" class="inputClass" name="parent">' +
  '</div>' +
  '</form>';
 

 function submitValueTM() {
  var poms = "";
  var forms = document.getElementsByTagName("form");
  var inputs;
  var selects;
  var tempResult = {};
  resultTM = [];
  for (var i = 0; i < forms.length; i++) {
    inputs = forms[i].getElementsByTagName("input");
    tempResult = {};
    for (var j = 0; j < inputs.length; j++) 
     tempResult[inputs[j].name] = inputs[j].value;    
    selects = forms[i].getElementsByTagName("select");
    for (var k = 0; k < selects.length; k++)
    tempResult[selects[k].name] = selects[k].value;
    resultTM.push(tempResult);
    console.log(tempResult);
  }  
 
   
  
 for (var m = 0; m < forms.length; m ++) {
  poms = resultTM[m].numPoms;

    console.log(poms);

    // formMainPom.innerHTML = "";
   if (poms > 0) {
   pomList.style.display = "block";


 }
  
 for (var i = 1; i <= poms; i++) {
  formMainPom.innerHTML += ("==============================================================="+ "<br />");
  formMainPom.innerHTML += ("[TM-POM"+i+"]"+ "<br/>" + "<br/>");
  formMainPom.innerHTML += formDataPom;
 }

}

}


function submitValuePom() {
  var forms = document.getElementsByTagName("form");
  var inputs;
  var selects;
  var tempResult = {};
  result = [];
  for (var i = 0; i < forms.length; i++) {
    inputs = forms[i].getElementsByTagName("input");
    tempResult = {};
    for (var j = 0; j < inputs.length; j++) 
     tempResult[inputs[j].name] = inputs[j].value;    
    selects = forms[i].getElementsByTagName("select");
    for (var k = 0; k < selects.length; k++)
    tempResult[selects[k].name] = selects[k].value;
    result.push(tempResult);
  
  }  
  // console.log(result);
    
// for (var m = 0; m < forms.length; m ++) {
 // console.log(result[m].name);
 // console.log(result[m].selectParam);
 // console.log(result[m].address);
// }
}

function SelectedjoinCondition() {
  var forms = document.getElementsByTagName("form");
  var getJoinCondition = "";
  var inputs;
  var selects;
  var tempResult = {};
  resultTM = [];
  for (var i = 0; i < forms.length; i++) {
    inputs = forms[i].getElementsByTagName("input");
    tempResult = {};
    for (var j = 0; j < inputs.length; j++) 
     tempResult[inputs[j].name] = inputs[j].value;    
    selects = forms[i].getElementsByTagName("select");
    for (var k = 0; k < selects.length; k++)
    tempResult[selects[k].name] = selects[k].value;
    resultTM.push(tempResult);
  
  }  
  
 for (var m = 0; m < forms.length; m ++) {
   getJoinCondition = resultTM[m].joinCondition;
  
  if (getJoinCondition == "yes") {
    formMainPom.innerHTML += formDataJoin;
  }
 } 
}

</script>

</div>
        <br>

        <!-- **********************************Loop for Join Condition****************************************** -->
        
       <!-- <div id="joinList" class="loopJoinColors" style="display: none">  
 
<script type="text/javascript">
var formMainJoin = document.getElementById("joinList");
var result = [];
var formDataJoin = "";
var i;
  formDataJoin += '<form class="formClass">' +
  '<div>' +
  '<label>child:</label>' +
  '<input type="text" placeholder="e.g. enst" class="inputClass" name="child">' +
  '<label>parent:</label>' +
  '<input type="text" placeholder="e.g. Transcript" class="inputClass" name="parent">' +
  '</div>' +
  '</form>';
 

function SelectedjoinCondition() {
  var forms = document.getElementsByTagName("form");
  var getJoinCondition = "";
  var inputs;
  var selects;
  var tempResult = {};
  resultTM = [];
  for (var i = 0; i < forms.length; i++) {
    inputs = forms[i].getElementsByTagName("input");
    tempResult = {};
    for (var j = 0; j < inputs.length; j++) 
     tempResult[inputs[j].name] = inputs[j].value;    
    selects = forms[i].getElementsByTagName("select");
    for (var k = 0; k < selects.length; k++)
    tempResult[selects[k].name] = selects[k].value;
    resultTM.push(tempResult);
  
  }  
  
 for (var m = 0; m < forms.length; m ++) {
   getJoinCondition = resultTM[m].joinCondition;
  
  if (getJoinCondition == "yes") {
    joinList.style.display = "block";
    formMainJoin.innerHTML += formDataJoin;
  }
 } 
}

</script>

</div>
        <br>
 -->

<!-- ************************************************************************************************** -->
        <!-- **********************************************Loop for Function Maps****************************************** -->
        <div id="loopFunNumber">
        	   <label id="loopselectFun">How many FunctionsMap do you consider? </label>
            <input type="text" value="" id="loopFun" maxlength="3" size="1" onclick="loopcountNumberFun()">
            <!-- <button type="button" id="loopbuttonFun" onclick="submitValueFun()">Get Values!</button> -->
        <div id="funList" class="loopfunctionColors" style="display: none">  
        	<!-- <div id="proList" class="looppropertyColors" style="display: none">   -->

<script type="text/javascript">
	var nops;
var formMainFun = document.getElementById("funList");
var formMainPro = document.getElementById("proList");
var fun = document.getElementById("loopFun").value;
var resultFun = [];
var formDataFun = "";
  formDataFun += '<form class="formClass">' +
  '<div>' +
  '<label>functionMapName:</label>' +
  '<input type="text" class="inputClass" name="functionMapName">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>source:</label>' +
  '<input type="text" class="inputClass" placeholder="e.g. biomarkers.csv" name="source">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>sourceFormat:</label>' +
  '<input type="text" class="inputClass" placeholder="e.g. CSV" name="sourceFormat">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>functionName:</label>' +
  '<input type="text" class="inputClass" name="functionName">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>Add number of parameters:</label>' +
  '<input type="text" maxlength="3" size="1" class="inputClass" name="numParameter" onclick="loopcountNumberPro()">' +
  '</div>' +
  '</form>';
 

function loopcountNumberFun() {
    var i;
    var fun = document.getElementById("loopFun").value;
    formMainFun.innerHTML = "";
   if (fun > 0) {
   funList.style.display = "block";
 }
 for (i = 1; i <= fun; i++) {
  formMainFun.innerHTML += ("==============================================================="+ "<br />");
  formMainFun.innerHTML += ("[F"+i+"]"+ "<br/>" + "<br/>");
  formMainFun.innerHTML += formDataFun;
 }

}

</script>
</div>
</div>
        <br>

        <div>
          <button type="button" id="loopbuttonFun" onclick="submitValueFun()">Show Parameters!</button>
        </div>
         <br>
          <br>

        <!-- **********************************************Loop for Properties****************************************** -->
        
       <div id="proList" class="looppropertyColors" style="display: none">  
 
<script type="text/javascript">
var formMainPro = document.getElementById("proList");
var result = [];
var formDataPro = "";
var i;
  formDataPro += '<form class="formClass">' +
  '<div>' +
  '<label>parameter:</label>' +
  '<input type="text" class="inputClass" name="parameter">' +
  '</div>' +
  '<br/>' +

  '<div>' +
  '<select id="parameters" class="inputClass" name="selectParam"><option value="selectPara" selected="selected">-- Select Parameter Type --</option><option value="constant">constant</option><option value="reference to data">reference to data</option><option value="reference to functionMap">reference to functionMap</option></select>'+
  '</div>' +
  '<br/>' +

  '<div>' +
  '<label>value:</label>' +
  '<input type="text" class="inputClass" name="value">' +
  // '<button type="button" id="loopbuttonFun" onclick="submitValueFun()">Get Values!</button>' +
  '</div>' +
  '</form>';
 
 function submitValueFun() {
  var forms = document.getElementsByTagName("form");
  var inputs;
  var selects;
  var tempResult = {};
  resultFun = [];
  for (var i = 0; i < forms.length; i++) {
    inputs = forms[i].getElementsByTagName("input");
    tempResult = {};
    for (var j = 0; j < inputs.length; j++) 
     tempResult[inputs[j].name] = inputs[j].value;    
    selects = forms[i].getElementsByTagName("select");
    for (var k = 0; k < selects.length; k++)
    tempResult[selects[k].name] = selects[k].value;
    resultFun.push(tempResult);
  
  }  
  // console.log(resultFun);
    
 for (var m = 0; m < forms.length; m ++) {
  nops = resultFun[m].numParameter;
    //console.log(nops);
    // formMainPro.innerHTML = "";
   if (nops > 0) {
   proList.style.display = "block";
 }
 // for (var j = 1; j <= 10; j++) {
 for (var i = 1; i <= nops; i++) {
  formMainPro.innerHTML += ("==============================================================="+ "<br />");
  formMainPro.innerHTML += ("[F"+1+"P"+i+"]"+ "<br/>" + "<br/>");
  formMainPro.innerHTML += formDataPro;
 }
}
// }
}

function loopcountNumberPro() {
    var i;
    // var nop = document.getElementById("loopNop").value;
    // console.log(nops);
    formMainPro.innerHTML = "";
   if (nops > 0) {
   proList.style.display = "block";
 }
 // for (i = 1; i <= nops; i++) {
 //  formMainPro.innerHTML += ("==============================================================="+ "<br />");
 //  formMainPro.innerHTML += ("[F1P"+i+"]"+ "<br/>" + "<br/>");
 //  formMainPro.innerHTML += formDataPro;
 // }

}

function submitValuePro() {
  var forms = document.getElementsByTagName("form");
  var inputs;
  var selects;
  var tempResult = {};
  result = [];
  for (var i = 0; i < forms.length; i++) {
    inputs = forms[i].getElementsByTagName("input");
    tempResult = {};
    for (var j = 0; j < inputs.length; j++) 
     tempResult[inputs[j].name] = inputs[j].value;    
    selects = forms[i].getElementsByTagName("select");
    for (var k = 0; k < selects.length; k++)
    tempResult[selects[k].name] = selects[k].value;
    result.push(tempResult);
  
  }  
  // console.log(result);
    
// for (var m = 0; m < forms.length; m ++) {
 // console.log(result[m].parameter);
 // console.log(result[m].selectParam);
 // console.log(result[m].value);
// }
}
</script>



</div>
     
        <br>

<!-- ************************************************************************************************** -->
            <br>
            <button type="button" id="fixedbutton" onclick="GenerateMR()">Generate Mapping Rule</button>

			<br>
            <br>
			  <p id="demo"></p>
            <a download="myfile" id="downloadlink" style="display: none">Download</a>
            <script>
              (
                function () {
                    var textFile = null,
                         makeTextFile = function (text) {
                             var data = new Blob([text], { type: 'text/plain' });

                            if (textFile !== null) {
                               window.URL.revokeObjectURL(textFile);
                           }

                           textFile = window.URL.createObjectURL(data);

                           return textFile;
                       };

                    var create = document.getElementById('fixedbutton');
                     create.addEventListener('click', function () {
                       
                         var link = document.getElementById('downloadlink'); 
                         link.href = makeTextFile(getresponseConfig());
                         

                     }, false); 
                      })();
            </script>
            <br><br>
        

        



<!-- div for end of class="content" -->
    </div>
    <!-- Footer -->
    <div class="footer">
        <p>
        <h5>Copyright © 2020 TIB-SDM. All rights reserved.</h5>

        <a href="https://github.com/SDM-TIB/RMLMappingRuleGenerator">More Information</a>
        </p>
    </div>

</body>

</html>


