<div class="container-fluid firat">


    <div class="row">

        <!--file management-->

        <fieldset class="col-6 border border-secondary border-4 first-input bg-light">
            <legend class="w-auto">File Management</legend>

            <div class="row first-row">
                <div class="col-7">
                    <input type="text" class="form-control border border-secondary border-2"
                        placeholder="Insert output mapping file name" [(ngModel)]="formData.outputFileName">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control border border-secondary border-2"
                        placeholder="Insert output path" [(ngModel)]="formData.outputFilePath" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Add the input as...'C:/Users/Desktop/folder/'">
                </div>
            </div>


            <div class="row second-row">

                <div class="col-10">
                    <!-- <div class="input-group mb-3 "> -->
                    <!-- <select class="form-select chosen-select border border-2 border-secondary" multiple
                   data-placeholder="prefixData" formControlName="prefixData">
                  <option disabled>all prefix from the available suggestion</option>
  
                </select> -->
                    <ng-multiselect-dropdown [placeholder]="'select prefix from the available suggestion'"
                        [settings]="dropdownSettings" [data]="dropdownList" (onSelect)="onItemSelect($event)"
                        (onDeSelect)="onItemDeSelect($event)">
                    </ng-multiselect-dropdown>


                    <!-- </div> -->

                </div>
                <div class="col-2">
                </div>
            </div>


            <div class="row">
                <div class="col-3">
                    <input type="text" class="form-control border border-secondary border-2" placeholder="write prefix"
                        [(ngModel)]="formData.manualPrefix" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Add the prefix for e.g. rr,rml...">
                </div>

                <div class="col-5">
                    <input type="text" class="form-control border border-secondary border-2"
                        placeholder="Url for Prefix" [(ngModel)]="formData.manualUrl" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Use proper url as 'http://www.w3.org/ns/r2rml'">
                </div>

                <div class="col-4">
                    <button class="btn border border-secondary border-2 add-more-button"
                        [disabled]="formData.manualPrefix === '' || formData.manualUrl === ''" (click)="addPrefixdata()"
                        type="button">+ add prefix</button>
                </div>


            </div>

        </fieldset>

        <!--#################################file management end#######################################################-->


        <!--Ontology-->
        <div class="col-6">
            <div class="row file-upper"></div>
            <div class="row">
                <div class="col-10 d-block justify-content-center">
                    <fieldset class="container image-upload-wrap border border-4 border-secondary bg-light">
                        <legend class="w-auto">Ontology</legend>

                        <div class="row">
                            <input class="file-upload-input" type='file' (change)="onOntologyUpload($event)"
                                accept=".ttl" name="file" id="uploadttlfile" />

                            <div class="col-3">
                                <label for="uploadttlfile">
                                    <img src="../../assets/upload-file.jpg"
                                        class="rounded float-start image-upload bg-white" alt="...">
                                </label>
                            </div>
                            <div class="col-9">
                                <h4 class="pt-1"> &lt; Upload the Ontology</h4>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                                class="image-title">Uploaded Image</span></button>
                    </div>
                </div>

            </div>
            <div class="row file-down"></div>
        </div>
        <!--############################Ontology end#####################################-->


    </div>


</div>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-10">

        </div>
        <div class="col-2">
            <button class="btn border border-secondary border-2 add-another-triplesmap float-end mx-5"
                [disabled]="prefixObject.defaultPrefixes.length === 0 && prefixObject.newPrefixs.length === 0"
                (click)="onSave()"> send Json</button>
        </div>

    </div>

</div>


<ng-container *ngFor="let triplesmap of triplesMapData">
    <app-triplesmap [classOptions]="classOptions" [propertyOptions]="propertyOptions" [triplesMap]="triplesmap"></app-triplesmap>
</ng-container>


<!--plus - minus button for triplesmap-->


<div class="container-fluid">
    <div class="row">
        <div class="col-10"></div>

        <div class="col-1">
            <button class="btn border border-secondary border-2 plus-btn float-end mt-2 me-4"
                [disabled]="triplesMapData.length === 1" (click)="triplesMapData.pop()"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="remove triplemap">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-dash"
                    viewBox="0 0 16 16">
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                </svg>
            </button>
        </div>

        <div class="col-1">
            <button class="btn border border-secondary border-2 plus-btn float-end mt-2 me-5"
                (click)="addNewTriplesMap()" data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="add another ">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-plus-lg"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                </svg>
            </button>
        </div>
    </div>
</div>
<!--########################end plus - minus button for triplesmap##############################-->



<!--create mapping file button-->
<div class="container-fluid mt-5">
    <div class="row mb-3">
        <div class="col-10">
        </div>

        <div class="col-2">
            <span class="tool-tip" id="tooltipfinal" data-toggle="tooltip" data-placement="top">
                <button class="btn border border-secondary border-2 add-another-triplesmap float-end mx-5" (click)="onCreateMappingFile()"
                     type="button">Create Mapping File</button>
            </span>
        </div>

    </div>

</div>
<!--#######################3end create mapping file button##############################-->