
 

    <div class="container-fluid ">
        <div class="row secondbox">
          <fieldset class="border border-secondary border-4 bg-light d-flex first-input">
            <legend class="w-auto">How to use easyRML Tool</legend>
            <div class="col-12">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 d-flex justify-content-center">
                        <div class="embed-responsive embed-responsive-4by3">
                            <video class="embed-responsive-item" src="../../assets/easyRML-demo.mp4" controls></video>
                          </div>
                    </div>
                    <div class="col-1"></div>

                </div>
            </div>
        </fieldset>
        </div>
    </div>


