<nav class="navbar navbar-expand-lg navbar-light bg-light border border-4 border-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="header-title" src="../assets/easlyrml.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-block justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/guideline">
            <h3 class="header-text">How To Use</h3>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">
            <h3 class="header-text">About Us</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>